/* General */

* {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

h1  {

}

h2  {
  font-weight: 700;
  font-size: 40px;

}

h5  {
  font-weight:700;
  color: #C1382D;
  font-size: 32px;
}

h6  {
  font-weight: 600;
}





/* Navbar */
.navbar-brand {
  padding: 10px 0px 10px 0px;
}

.navbar-homepage  {
  margin: 0px;
  background-color: #ffffff;
}

.navbar-homepage ul li a {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.navbar-homepage ul li a:hover {
  color: #333333;
  border-bottom: solid 1px red;
}

/* Jumbotron */
.jumbotron-header {
  background-image: url("../images/home_header.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 200px 0px 40px 0px;
  margin: 0px;
}

.jumbotron-header h1  {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron-header h2  {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.jumbotron-header h4  {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid 4px red;
  padding: 0px 0px 10px 0px;
}


/* Section 1 */
.section_1  {
  padding: 20px 0px 20px 0px;
}



/* Section 2 */
.section_2  {

}

.spacing-row  {
  padding: 20px 0px 20px 0px;
}

/* Section 3 */
.section_3  {
  padding: 20px 0px 40px 0px;
}



/* Section 4 */
.section_4  {
  background-color: #E5E5E5;
  padding: 40px 0px 40px 0px;
}
